body {
    margin: 60px auto;
    width: 70%;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
a:active {
    color: black;
}
a.pdf {
    color: #0066cc;
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 40px;
}
a.pdf:hover{
    color: black;
    text-decoration: none;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    margin: 0;
}
h2 {
    margin: 0;
    padding-top: 20px;
    font-size: 1.3em;
}
h3, h4 {
    margin: 0;
    line-height: 1em;
    padding: 5px 0px;
}
p, li {
    line-height: 1em;
    color: #000000;
    margin: 0;
    padding: 3px 0px;
    font-size: 0.95em;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}
br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 10px;
}
br.big {
    margin-top: 20px;
}
br.small {
    margin-top: 5px;
}
.cv h2 {
    color: #0066cc;
}
.cv a {
    margin: 0;
    text-decoration: none;
    color: #000000;
}
.cv a:hover {
    color: #0066cc;
}
.cv-head {
    display: flex;
    justify-content: center;
    align-items: center;
}
.cv-date-line {
    display: grid;
    grid-template-columns: 80% 20%;
}
.cv-date-line3 {
    display: grid;
    grid-template-columns: 30% 50% 20%;
}
.reference {
    display: grid;
    grid-template-columns: 4% 96%;
}
.reference p, a {
    padding-top: 12px;
    line-height: 1.2em;
}
.hang-indent {
    margin-left: 2em; 
    text-indent: -2em;
}
p.cv-date {
    text-align: right;
}


