
/*---------------- specify theme colors ----------------*/

:root {

	/*Dark theme 1: dark bg, light text, green links, green highlights*/
	--theme-color-bg: #3b3b3b;  /*dark gray*/
	--theme-color-0: #000000;   /*black*/
	--theme-color-1: #333333;   /*nearly black*/
	--theme-color-2: #142812;   /*darkest color*/
	--theme-color-3: #1a5b12;
	--theme-color-4: #069e2d;
	--theme-color-5: #6bbf59;
	--theme-color-6: #c2f9bb;   /*lightest color*/
	--theme-color-99: #f5f5f5;  /*nearly white*/
	--theme-color-100: #ffffff; /*white*/


	/*Light theme 1: light bg, black text, green links, green highlights*/
	/*--theme-color-bg: lightgray;
	/*--theme-color-0: #ffffff;   /*white*/
	/*--theme-color-1: #f5f5f5;   /*nearly white*/
	/*--theme-color-2: #c2f9bb;   /*lightest color*/
	/*--theme-color-3: #6bbf59;
	/*--theme-color-4: #069e2d;
	/*--theme-color-5: #1a5b12;
	/*--theme-color-6: #142812;   /*darkest color*/
	/*--theme-color-99: #333333;  /*nearly black*/
	/*--theme-color-100: #000000; /*black*/


	/*Light theme 1: light bg, black text, blue links, blue highlights*/
	/*--theme-color-bg: lightgray;
	/*--theme-color-0: #ffffff;   /*white*/
	/*--theme-color-1: #f5f5f5;   /*nearly white*/
	/*--theme-color-2: #f7f7f2;   /*lightest color*/
	/*--theme-color-3: #0582ca;
	/*--theme-color-4: #083d77;
	/*--theme-color-5: #222725;
	/*--theme-color-6: #121113;   /*darkest color*/
	/*--theme-color-99: #333333;  /*nearly black*/
	/*--theme-color-100: #000000; /*black*/
}

/*---------------- top-level formatting ----------------*/

html {
	background-color: var(--theme-color-bg);
}

body {
	margin: 39px auto;
	width: 70%;
	font-family:'Helvetica', 'Arial', 'Sans-Serif';
	font-weight: 350;
	color: var(--theme-color-99);
	line-height: 1.1;
	background-color: var(--theme-color-1);
}

/*---------------- navbar and footer ----------------*/

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--theme-color-99);
	position: fixed; 
	top: 0;
	left: 15%;
	right: 15%;
}
nav li {
	float: left;
}
nav li a {
	display: block;
	color: var(--theme-color-1);
	text-align: center;
	padding: 10px 15px;
	text-decoration: none;
	font-size: 1.1em;
}
nav .navtext {
	float: right;
	color: var(--theme-color-1);
	padding: 9px 15px;
	font-size: 1.1em;
}

nav a:hover {
	background: var(--theme-color-100);
	text-decoration: none;
	color: var(--theme-color-0);
}

a.current_page {
	background: var(--theme-color-4);
	color: var(--theme-color-1);
}

footer ul li {
	display: inline;
}
footer a {
	text-decoration: none;
	color: #999;
}
footer a:hover {
	text-decoration: none;
	color: var(--theme-color-100);
}
footer a:active {
	color: var(--theme-color-100);
}

/*----------------------- main page ---------------------------*/

.padded-content {
	padding: 20px;
}

.padded-content li, p {
	line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
	color: var(--theme-color-5);
}

a {
	color: var(--theme-color-4);
	text-decoration: none;
}
a:hover {
	color: var(--theme-color-6);
	text-decoration: none;
}

footer {
	background-color: var(--theme-color-bg);
	padding: 3px;
	text-align: right;
	/*border-top: 1px solid #d5d5d5;*/
	font-size: .7em;
}

.spaced-list li {
	margin: 20px 0
}

.img-text {
	color: var(--theme-color-0);
	font-size: 0.6em;
	position: absolute;
	bottom: 8px;
	right: 8px
}
.img-text a {
	color: var(--theme-color-3);
}

br.big {
	margin-top: 20px;
}
br.small {
	margin-top: 5px;
}


/*----------------------- research page ---------------------------*/

.figure-panel-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.figure-panel-grid div {
	background-color: var(--theme-color-bg);
	width: 265px;
	height: 230px;
	display: block;
	text-align: center;
}

.figure-panel-grid img {
	max-height: 80%;
	/*max-height: 200px;*/
	/*max-height: 100%;*/
	max-width: 95%;
	margin-top: 8px;
}

.figure-panel-grid h3 {
	margin-top: 0.3em;
}









