<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="assets/css/main.css">
			<link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
		</head>
		<body class='{% if page.title == "Home" %}home_page{% endif %}'>
			<nav>
				<ul>
					{% for item in site.data.pagelist.pages %}
					<li><a href="{{ item.url }}" class="{% if item.url == page.url %}current_page{% endif %}">{{ item.title }}</a></li>
					{% endfor %}
					<li class='navtext' style="font-weight:lighter;">Jonathan L. Robinson</li>
				</ul>
			</nav>
	    	<div>
	    		{{ content }}
	    	</div>
			<footer>
				<p>Copyright &copy; 2025 by Jonathan Robinson</p>
	    		<!-- <ul>
	        		<li><a href="mailto:jon.robins@pm.me">email</a></li>
	        		<li><a href="https://github.com/jonathanrob">github.com/jonathanrob</a></li>
				</ul> -->
			</footer>
		</body>
	</html>

