<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123406914-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-123406914-1');
			</script>

			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="assets/css/main.css">
			<link rel="shortcut icon" type="image/png" href="assets/images/favicon.png">
		</head>
		<body class='{% if page.title == "Home" %}home_page{% endif %}'>
			<nav>
				<ul>
					{% for item in site.data.pagelist.pages %}
					<li><a href="{{ item.url }}" class="{% if item.url == page.url %}current_page{% endif %}">{{ item.title }}</a></li>
					{% endfor %}
					<li class='navtext' style="font-weight:lighter;">Jonathan L. Robinson</li>
				</ul>
			</nav>
	    	<div>
	    		{{ content }}
	    	</div>
			<footer>
				<p>Copyright &copy; 2021 by Jonathan Robinson</p>
	    		<!-- <ul>
	        		<li><a href="mailto:jonathan.robins1@gmail.com">email</a></li>
	        		<li><a href="https://github.com/jonathanrob">github.com/jonathanrob</a></li>
				</ul> -->
			</footer>
		</body>
	</html>

